﻿
<div class="ui negative message">

    <div class="header icon">
        <i class="warning icon"></i>  Доступ запрещен!
    </div>
    <p>
        У вас недостаточно прав для доступа к объекту. 
    </p>
</div>
