﻿
<div class="ui negative message">

    <div class="header icon">
        <i class="warning icon"></i>  Вы попали куда-то не туда...
    </div>
    <p>
        Запрошенный вами ресурс не найден. Это может быть связано с:
    </p>
    <ul>
        <li>Возможно ресурс к которому вы обратились был удален ранее</li>
        <li>Вы перешли по недействительной ссылке, проверьте адрес</li>
    </ul>
</div>
