﻿
<div class="ui negative message">
    
    <div class="header icon">
        <i class="warning icon"></i>  Для доступа необходимо пройти аутентификацию
    </div>
    <p>
        Доступк к данным заблокирован для непрошедших проверку пользователей. 
        <a href="#/login">Войдите в систему</a> для прохождения проверки и получения доступа к данным.
    </p>
</div>
