﻿.login-page,.error-page {
   position: absolute;
   top: 50%;
   margin-top: -200px !important;
   width: 100%;
}
.login-page #login {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.full-content-editor {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:101;
    background-color:#ffffff; 
}
.full-content-editor .header {
    margin: 0 !important;
}
.full-content-editor .content {

} 

.full-content-editor .actions {
    text-align:right;
}
.full-content-editor .actions a {
}
#dropzone {
  position: relative;
  border: 10px dotted #1B1C1D;
  border-radius: 20px;
  color: #1B1C1D;
  font: bold 24px arial;
  min-height: 200px;
  
  margin: 15px 0;
  text-align: center;
  width: 100%;
  padding:25px;
}

#dropzone.hover {
  border: 10px solid #FE5;
  color: #FE5;
}

#dropzone.drop {
  background: #222;
  border: 10px solid #444;
  color: #fff;
}

.code {
    font-family:"Lucida Console", Monaco, monospace;
}

.code-json {

}
.info.message .content a {
    text-decoration: underline !important;
}

.nmo-codes tr:hover td span {
    font-weight: 600;
}
.nmo-codes tr:hover .button {
    background-color: green;
}

.nmo-codes tr.selected {
    background-color: green;        
}

div.bottom-wrapper {
    height: 40px;
}

.footer.segment {
    padding: 20px 40px !important;
}

.main-content-wrapper, .main.menu .wrapper{
    width: 80%;
    margin: 0 auto;

}

.main.menu .wrapper {border: 0 #ccc solid;
border-width: 0 1px;}

.table.clog a {
    text-decoration: underline;
}

.main.menu .wrapper .item {
    display: inline-block;
}


.main.menu .wrapper .item.text {
    background-color: #464646;
    background-color: rgba(70, 70, 70, .7);
    color:#fff;
}
.main.menu .item.back {
    position: absolute;
    border: 0;
}
.clog-insert tr.error td input {
    border: 1px solid red !important;
}
@media screen and (max-device-width: 1024px){
  .main-content-wrapper, .main.menu .wrapper {
      width: 100%;
  }
}