<div class="ui segment">
    <div class="ui active inverted dimmer" ng-if="cc.loading">
        <div class="ui text loader">Загрузка</div>
    </div>
    <div class="ui negative message" ng-if="cc.error">
        <div class="header">
            <i class="icon error"></i>Ошибка загрузки данных
        </div>
        <p ng-bind="cc.errorMessage"></p>
    </div>    
    <div class="ui dividing header">
        <i class="settings icon"></i>
        <div class="content">
            <span ng-bind="$state.current.data.pageTitle"></span>
            <div class="sub header"></div>
        </div>
    </div>
    <div class="ui positive message" ng-if="cc.success||cc.editSuccess">
        <div class="header">
            <i class="checkmark icon"></i> Правки успешно сохранены!
        </div>
    </div>
    <div class="ui negative message transition" ng-show="cc.error" ng-bind="cc.errorMessage"></div>
    <div class="ui negative message" ng-if="cc.editError">
        <div class="header">
            <i class="icon error"></i>Ошибка при сохранении
        </div>
        <p ng-bind="cc.editErrorMessage"></p>
    </div>
    <form class="ui form segment" ng-submit="cc.edit()">
        <div class="required field" ng-class="{'error':cc.errors.Fio}">
            <label>ФИО</label>
            <input focus-on="fio" type="text" ng-model="cc.editData.fio" id="fio" />
            <div class="ui negative message" ng-if="cc.errors.Fio">
                {{cc.errorMessages.Fio}}
            </div>
        </div>
        <div class="required two fields">
            <div class="field" ng-class="{'error':cc.errors.Organization}">
                <label>Организация</label>
                <input type="text" ng-model="cc.editData.organization" id="organisation" />
                <div class="ui negative message" ng-if="cc.errors.Organization">
                    {{cc.errorMessages.Organization}}
                </div>
            </div>
            <div class="field" ng-class="{'error':cc.errors.Speciality}">
                <label>Специализация</label>
                <input type="text" ng-model="cc.editData.speciality"  id="specialization"/>
                <div class="ui negative message" ng-if="cc.errors.Speciality">
                    {{cc.errorMessages.Speciality}}
                </div>
            </div>
        </div>
        <div class="field" ng-if="!cc.editData.registeredString">
            <label>Время регистрации</label>
            <a class="ui button green" ng-click="cc.setRegistered(true)">Регистрация</a>
        </div>        
        <div class="field" ng-if="cc.editData.registeredString">
            <label>Время регистрации</label>
            <input readonly="readonly" type="email" ng-model="cc.editData.registeredString" />
            <a class="ui inline attached button" ng-click="cc.setRegistered(false)">Отменить регистрацию</a>
        </div>
        <!--<div class="field" ng-if="!cc.editData.visitedString">
            <label>Время окончательной регистрации</label>
            <a class="ui button green" ng-click="cc.setVisited(true)">Окончательная регистрация</a>
        </div>-->
        <div class="field">
            <label>Время окончательной регистрации</label>
            <input readonly="readonly" type="email" ng-model="cc.editData.visitedString" />
            <!--<a class="ui inline attached button" ng-click="cc.setVisited(false)">Отменить регистрацию</a>-->
        </div>
        <div class="field" ng-class="{'error':cc.errors.TicketCode}">
            <label>ШТРИХ-Код</label>
            <input focus-on="ticketCode" ng-keyup="cc.checkTickedCode($event)" type="text" class="fluid" ng-model="cc.editData.ticketCode" id="code"/>
            <div class="ui negative message" ng-if="cc.errors.TicketCode">
                {{cc.errorMessages.TicketCode}}
            </div>
        </div>
        <div class="field" ng-class="{'error':cc.errors.NmoCode}">
            <label>Код подтверждения НМО</label>
            <input focus-on="nmoCode" type="text" ng-focus="cc.showNmoCodeBrowser()" class="fluid" ng-model="cc.editData.nmoCode" />
            <div class="ui negative message" ng-if="cc.errors.NmoCode">
                {{cc.errorMessages.NmoCode}}
            </div>

            <div ng-if="cc.showNmoCodes">
                <div class="ui menu attached">
                    <div class="fluid item" style="width: 100% !important">
                        <div class="ui icon input">
                            <input focus-on="nmoCodeSearch" ng-model="cc.nmoCodeSearch.code" ng-change="cc.checkStrict()" placeholder="Поиск по ШТРИХ-Коду" type="text">
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>
                <div class="ui buttons">
                    <a class="ui fluid button" ng-click="cc.editData.nmoCode=''">Отчистить</a>
                    <a class="ui fluid button yellow" ng-click="cc.showNmoCodes=false">Закрыть</a>
                </div>
                <table class="ui nmo-codes table">
                    <tr ng-class="{'selected':cc.editData.nmoCode==code.nmoCode}" ng-dblclick="cc.nmoCodeSelect(code.nmoCode)" ng-repeat="code in cc.nmoCodes.codes | filter:cc.nmoCodeSearch:cc.nmoCodeSearchStrict">
                        <td>
                            <a ng-if="cc.editData.nmoCode!=code.nmoCode" ng-click="cc.nmoCodeSelect(code.nmoCode)" class="ui button">Привязать</a>
                        </td>
                        <td><span ng-bind="code.code"></span></td>
                        <td><span ng-bind="code.nmoCode"></span></td>
                    </tr>
                </table>
            </div>
            
        </div>
        <div class="two fields">
            <div class="field" ng-class="{'error':cc.errors.Phone}">
                <label>Телефон</label>
                <input type="tel" ng-model="cc.editData.phone" />
                <div class="ui negative message" ng-if="cc.errors.Phone">
                    {{cc.errorMessages.Phone}}
                </div>
            </div>
            <div class="field" ng-class="{'error':cc.errors.Email}">
                <label>Электронная почта</label>
                <input type="email" ng-model="cc.editData.email" />
                <div class="ui negative message" ng-if="cc.errors.Email">
                    {{cc.errorMessages.Email}}
                </div>
            </div>
        </div>
        <!--<div class="field" ng-class="{'error':cc.errors.Lector}">
            <label>Лектор</label>
            <input type="checkbox" class="fluid" ng-model="cc.editData.lector" />
            <div class="ui negative message" ng-if="cc.errors.Lector">
                {{cc.errorMessages.Lector}}
            </div>
        </div>-->
        <div class="field">
            <label>Тип участия</label>
            <select ng-model="cc.editData.type" ng-options="item.code as item.text for item in cc.types">
                <option value="">Выберите одно</option>
            </select>
        </div>
        <div class="field" ng-class="{'error':cc.errors.AgreePersonalDataPolicy}">
            <label>Согласие на обработку персональных данных</label>
            <input type="checkbox" class="fluid" ng-model="cc.editData.agreePersonalDataPolicy" />
            <div class="ui negative message" ng-if="cc.errors.AgreePersonalDataPolicy">
                {{cc.errorMessages.AgreePersonalDataPolicy}}
            </div>
        </div>
        <div class="ui divider"></div>
        <a class="ui button" ng-click="cc.editCansel()">Отмена</a>
        <a class="ui button" ng-click="cc.printer()" >Печать</a>
        <input class="ui button green" type="submit" value="Сохранить" />
        <div class="ui positive message" ng-if="cc.success||cc.editSuccess">
            <div class="header">
                <i class="checkmark icon"></i> Правки успешно сохранены!
            </div>
        </div>
        
        <div class="ui negative message transition" ng-show="cc.error" ng-bind="cc.errorMessage"></div>
        <div class="ui negative message" ng-if="cc.editError">
            <div class="header">
                <i class="icon error"></i>Ошибка при сохранении
            </div>
            <p ng-bind="cc.editErrorMessage"></p>
        </div>
        <div class="ui active inverted dimmer" ng-if="cc.loading"><div class="ui text loader">Отправка данных</div></div>

    </form>

    <script>
        function printData() {
            var fio = document.getElementById("fio").value;
            var specialization = document.getElementById("specialization").value;
            var organisation = document.getElementById("organisation").value;
            var code = document.getElementById("code").value;

            var html = "<div> <h4>" + fio + "</h4> <h6>" + specialization + "</h6> <h6>" + organisation + "</h6> <h6>" + code + "</h6> </div>"

            var printContents = html;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>
</div>