<div class="ui segment form">
    <div class="ui active inverted dimmer" ng-if="ti.loading">
        <div class="ui text loader">Загрузка</div>
    </div>
    <div class="ui negative message" ng-if="ti.error">
        <div class="header">
            <i class="icon error"></i>Ошибка загрузки данных
        </div>
        <p ng-bind="ti.errorMessage"></p>
    </div>
    <div class="ui dividing header">
        <i class="settings icon"></i>
        <div class="content">
            <span ng-bind="$state.current.data.pageTitle"></span>
            <div class="sub header"></div>
        </div>
    </div>
    <div class="field">
        <label>
            Поле вставки реестра
        </label>
        <textarea ng-change="ti.change()" ng-model="ti.dataString" style="width: 100%; min-height: 400px;"></textarea>
    </div>
    <table class="ui celled table clog-insert">
        <tbody>
        <tr>
            <th>№ Свидетельства</th>
            <th>Код НМО</th>
            <th>ШТРИХ-Код</th>
            <th>ФИО</th>
            <th>Организация</th>
            <th>Специальность</th>
            <th>Телефон</th>
            <th>E-Mail</th>
        </tr>
        <tr ng-repeat="part in ti.data" ng-class="{error:part.error}">
            <td><input type="text" ng-model="ti.data[$index].code" /></td>
            <td><input type="text" ng-model="ti.data[$index].nmoCode" /></td>
            <td><input type="text" ng-model="ti.data[$index].ticketCode" /></td>
            <td><input type="text" ng-model="ti.data[$index].fio"/></td>
            <td><input type="text" ng-model="ti.data[$index].organization"/></td>
            <td><input type="text" ng-model="ti.data[$index].speciality" /></td>
            <td><input type="text" ng-model="ti.data[$index].phone" /></td>
            <td><input type="text" ng-model="ti.data[$index].email"/></td>
        </tr>
        </tbody>
    </table>
    <a class="ui button" ng-class="{disabled:ti.parseError,positive:!ti.parseError&&ti.data.length>0}" ng-click="ti.next()">Внести в список</a>
</div>