<div class="pusher">
    <div class="ui segment">
        <div class="ui active inverted dimmer" ng-if="cc.loading">
            <div class="ui text loader">Загрузка</div>
        </div>
        <div class="ui negative message" ng-if="cc.error">
            <div class="header">
                <i class="icon error"></i>Ошибка загрузки данных
            </div>
            <p ng-bind="cc.errorMessage"></p>
        </div>
        <div class="ui dividing header">
            <i class="settings icon"></i>
            <div class="content">
                <span ng-bind="$state.current.data.pageTitle"></span>
                <div class="sub header"></div>
            </div>
        </div>
        <div class="ui menu attached">
            <a id="clogNewPart" class="item" ui-sref="app.clog-row({id:null,action:'create',intoId:cc.id})" data-title="Регистрация нового участника" data-content="Добавление в список конференции нового участника. Сочетание клавиш Ctrl+X " app-popup-on="help">
                <i class="add circle outline"></i>
                Регистрация нового участника
            </a>

            <!--<a class="item" ng-enabled="cc.partTable.pos>0" ng-class="{disabled:cc.partTable.pos<=0}" ui-sref="app.clog-row.edit({id:cc.partTable.pos,action:'delete'})">
                <i class="icon delete"></i>
                Удалить
            </a>-->
            <form ng-submit="cc.searchTicket()">
                <div class="fluid item" style="width: 370px !important">
                    <div class="ui icon input">
                        <input id="clogScanCode" ng-model="cc.ticketCode" ng-keyup="cc.checkTickedCode($event)" placeholder="Поиск по ШТРИХ-Коду" type="text" data-title="Поиск по ШТРИХ-Коду" data-content="Быстрый поиск участника по привязанному ШТРИХ-Коду. Сочетание клавиш Ctrl+D" data-position="top right" app-popup-on="help">
                        <i class="search icon"></i>
                    </div>
                </div>
            </form>
            <div class="menu right">
                <a class="item " style="background-color: #00B5AD; color: #fff" ng-click="cc.help()" ng-mouseleave="cc.helpClose()">
                    <i class="icon info"></i>
                    Справка
                </a>
            </div>
        </div>
        <table class="ui clog celled table attached" style="background-color: #ffffff;" >
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Организация</th>
                    <th>Специальность</th>
                    <th>Регистрация</th>
                    <th>Подтвержден</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="ui icon input" style="width: 100%">
                            <input id="clogSearchFio" ng-keypress="cc.key($event)" ng-model="cc.search.fio" placeholder="ФИО..." type="text" data-title="Быстрый поиск по ФИО" data-content="Сочетание клавиш Ctrl+F. Нажмите Esc для сброса фильтра" data-position="bottom left" app-popup-on="help">
                            <i class="search icon"></i>
                        </div>
                    </td>
                    <td>
                        <div class="ui icon input" style="width: 100%">
                            <input ng-keypress="cc.key($event)" ng-model="cc.search.organization" placeholder="Организация..." type="text">
                            <i class="search icon"></i>
                        </div>
                    </td>
                    <td>
                        <div class="ui icon input" style="width: 100%">
                            <input ng-keypress="cc.key($event)" ng-model="cc.search.speciality" placeholder="Специальность..." type="text">
                            <i class="search icon"></i>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <select type="checkbox" ng-model="cc.search.visit">
                            <option value="true">Подтвержденные</option>
                            <option value="false">Без подтверждения</option>
                            <option value="">Все</option>
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody ng-if="!cc.loading">
                <tr ng-repeat="part in cc.partTable.items| filter:cc.search" ng-click="cc.partTable.pos=part.id;cc.partTableIndex=$index" ng-dblclick="cc.partTable.open(cc.partTable.pos)" ng-class="{active:part.id==cc.partTable.pos}">
                    <td><a ui-sref="app.clog-row({id:part.id})">{{part.fio}}</a></td>
                    <td><span>{{part.organization}}</span></td>
                    <td><span>{{part.speciality}}</span></td>
                    <td><span>{{part.registeredString}}</span></td>
                    <td><input ng-click="$event.preventDefault()" readonly="" type="checkbox" ng-model="part.visit" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="ui menu inverted">
    <a class="item" ng-click="cc.resetFilters()">Сбросить фильтры</a>
    <a class="item" onclick="document.body.scrollTop = document.documentElement.scrollTop = 0;">Прокрутить вверх</a>
    <a class="item" ng-click="cc.load()">Обновить</a>
    <a class="item" ui-sref="app.clog-insert({id:cc.id})">Внести в список реестр</a>
</div>