<div class="ui segment">
    <div class="ui active inverted dimmer" ng-if="ic.loading">
        <div class="ui text loader">Загрузка</div>
    </div>
    <div class="ui negative message" ng-if="ic.error">
        <div class="header">
            <i class="icon error"></i>Ошибка загрузки данных
        </div>
        <p ng-bind="ic.errorMessage"></p>
    </div>
    <div class="ui dividing header">
        <i class="settings icon"></i>
        <div class="content">
            <span ng-bind="$state.current.data.pageTitle"></span>
            <div class="sub header"></div>
        </div>
    </div>
    <div class="ui vertical menu" style="width: 80%; margin: 0 auto;">
        <a ng-repeat="conf in ic.conferences" class="item" ui-sref="app.clog({id:conf.id})">
            <h4 class="ui header" ng-bind="conf.name"></h4>
            <p ng-bind="conf.shortName"></p>
            <p ng-bind="conf.dates"></p>
        </a>
    </div>
</div>