﻿<div id="errorModal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">        
    </div>
    <div class="content">
    </div>
    <div class="actions">
        <a class="ui black deny button" id="errorModalOkBtn">
            Отмена
        </a>
        <a class="ui positive right labeled icon button" id="errorModalRetryBtn">
            Попробовать еще раз
            <i class="refresh icon"></i>
        </a>
    </div>
</div>