<div class="basic segment footer">
    <span>
        Электронная регистратура конференции
        <a href="http://rb2cemp.ru/" target="_blank">РБ2-ЦЭМП</a>,
        <a href="http://yks.ru/" target="_blank">Передовые решения</a>,
        <a href="http://nmo.sakhamed.com/" target="_blank">NmoSakhamed</a>
    </span>
    <p>&copy;2016</p>
</div>