<div class="ui middle aligned center aligned grid login-page">
    <div class="column" id="login">
        <h2 class="ui teal image header">
            <img src="/webmanage/images/logo.png" class="image">
            <div class="content">
                Войти в систему
            </div>
        </h2>
        <form class="ui large form" ng-submit="lc.login()">
            <div class="ui stacked segment">
                <div class="field required" ng-class="{'error':lc.errors.Username}">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="Username" ng-model="lc.username" placeholder="Имя пользователя">
                    </div>
                    <div class="ui negative message" ng-if="lc.errors.Username">{{lc.errorMessages.Username}}</div>
                </div>
                <div class="field required" ng-class="{'error':lc.errors.Password}">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="Password" ng-model="lc.password" placeholder="Пароль">
                    </div>
                    <div class="ui negative message" ng-if="lc.errors.Password">{{lc.errorMessages.Password}}</div>
                </div>
                <input type="submit" class="ui large teal submit button login" value="Войти" />
                <div class="ui active inverted dimmer" ng-if="lc.loading">
                    <div class="ui small text loader">Вход...</div>
                </div>
            </div>
            <div class="ui info message">
                <h3>Еще нет профиля?</h3>
                <a href="#/register">Регистрация</a>
            </div>
        </form>
    </div>
</div>