<div class="ui main pointing menu" ng-controller="menu as mc" >
    <a class="back item" ng-click="mc.back()"><i class="icon left arrow"></i> Назад</a>
    <div class="wrapper">
        <span class="item text">Меню: </span>
        <!--<div class="ui dropdown item">
            <i class="dropdown icon"></i>
            Подробно
            <div class="menu">
                <a class="item" href="#intro">Введение</a>
            </div>
        </div>-->
        <a class="item" href="#/">Главная</a>
        <a class="item" target="_blank" href="http://nmo.sakhamed.com/manage/#/index">Основное управление НМО</a>
    </div>
</div>