﻿<div id="promptModal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">        
    </div>
    <div class="content">
        <p class="content-text"><p>
        <div class="ui form">
            <div class="ui input">
                <input type="text" />
            </div>
        </div>        
    </div>
    <div class="actions">
        <a class="ui positive black deny button" id="promptModalOkBtn">
            Ок
        </a>
        <a class="ui right labeled icon button" id="promptModalCanselBtn">
            Отмена
        </a>
    </div>
</div>