﻿<div id="rmModal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">        
    </div>
    <div class="content">
    </div>
    <div class="actions">
        <a class="ui red deny button labeled icon" id="rmModalOkBtn">
            Удалить
            <i class="icon remove circle"></i>
        </a>
        <a class="ui positive right button">
            Отмена
        </a>
    </div>
</div>