<div ng-include src="'/Partials/menu.html'"></div>
<div style="height: 42px"></div>
<div class="main-content-wrapper">    
    <div ui-view="page"></div>
</div>
<div ng-include src="'/Partials/footer.html'"></div>
